<section id="team" class= "bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Meet The Team</h2>
            </div>
        </div>
    </div>

        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-12">
                    <a href="https://www.linkedin.com/in/jasonamerine" target="_blank" class="team-box">
                        <%= image_tag "JA_2_edited.jpg", class: "img-responsive", alt: "" %>
                        <div class="team-box-caption">
                            <div class="team-box-caption-content">
                                <div class="founder-name">
                                  Jason Amerine
                                </div>
                                <div class="founder-city text-faded">
                                  Columbus, OH
                                </div>
                                <div class="founder-city">
                                  <i class="fa fa-linkedin fa-2x" href="https://www.linkedin.com/in/paulbcollins" ></i>
                                </div>
                            </div>
                        </div>
                      </a>
                        <h3 class="founder-name text-center">
                          Jason Amerine
                        </h3>
                        <p class="founder-city text-faded text-center founder-city-outside">
                          Columbus, OH
                        </p>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <a href="https://www.linkedin.com/in/jasonamerine" target="_blank" class="team-box">
                        <%= image_tag "JA_2_edited.jpg", class: "img-responsive", alt: "" %>
                        <div class="team-box-caption">
                            <div class="team-box-caption-content">
                                <div class="founder-name">
                                  Jason Amerine
                                </div>
                                <div class="founder-city text-faded">
                                  Columbus, OH
                                </div>
                                <div class="founder-city">
                                  <i class="fa fa-linkedin fa-2x" href="https://www.linkedin.com/in/paulbcollins" ></i>
                                </div>
                            </div>
                        </div>
                      </a>
                        <h3 class="founder-name text-center">
                          Jason Amerine
                        </h3>
                        <p class="founder-city text-faded text-center founder-city-outside">
                          Columbus, OH
                        </p>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <a href="https://www.linkedin.com/in/jasonamerine" target="_blank" class="team-box">
                        <%= image_tag "JA_2_edited.jpg", class: "img-responsive", alt: "" %>
                        <div class="team-box-caption">
                            <div class="team-box-caption-content">
                                <div class="founder-name">
                                  Jason Amerine
                                </div>
                                <div class="founder-city text-faded">
                                  Columbus, OH
                                </div>
                                <div class="founder-city">
                                  <i class="fa fa-linkedin fa-2x" href="https://www.linkedin.com/in/paulbcollins" ></i>
                                </div>
                            </div>
                        </div>
                      </a>
                        <h3 class="founder-name text-center">
                          Jason Amerine
                        </h3>
                        <p class="founder-city text-faded text-center founder-city-outside">
                          Columbus, OH
                        </p>
                </div>
                <div class="col-lg-offset-2 col-lg-4 col-sm-12">
                    <a href="https://www.linkedin.com/in/jasonamerine" target="_blank" class="team-box">
                        <%= image_tag "JA_2_edited.jpg", class: "img-responsive", alt: "" %>
                        <div class="team-box-caption">
                            <div class="team-box-caption-content">
                                <div class="founder-name">
                                  Jason Amerine
                                </div>
                                <div class="founder-city text-faded">
                                  Columbus, OH
                                </div>
                                <div class="founder-city">
                                  <i class="fa fa-linkedin fa-2x" href="https://www.linkedin.com/in/paulbcollins" ></i>
                                </div>
                            </div>
                        </div>
                      </a>
                        <h3 class="founder-name text-center">
                          Jason Amerine
                        </h3>
                        <p class="founder-city text-faded text-center founder-city-outside">
                          Columbus, OH
                        </p>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <a href="https://www.linkedin.com/in/jasonamerine" target="_blank" class="team-box">
                        <%= image_tag "JA_2_edited.jpg", class: "img-responsive", alt: "" %>
                        <div class="team-box-caption">
                            <div class="team-box-caption-content">
                                <div class="founder-name">
                                  Jason Amerine
                                </div>
                                <div class="founder-city text-faded">
                                  Columbus, OH
                                </div>
                                <div class="founder-city">
                                  <i class="fa fa-linkedin fa-2x" href="https://www.linkedin.com/in/paulbcollins" ></i>
                                </div>
                            </div>
                        </div>
                      </a>
                        <h3 class="founder-name text-center">
                          Jason Amerine
                        </h3>
                        <p class="founder-city text-faded text-center founder-city-outside">
                          Columbus, OH
                        </p>
                </div>

            </div>
        </div>

</section>
